section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin:auto;
}
figure{
    margin:10px;
    border:1px solid black;
    display:flex;
    justify-content: center;
    height: 170px;
    width: 20%;
    
}
   @media only screen and (max-width : 480px) {
        figure{
            width:80%;
        }
    }
     @media only screen and (min-width : 480px) and (max-width:992px) {
        figure{
            width:40%;
        }
    }

  @media only screen and (min-width : 1200px) {
        section{
            width:1200px;
        }
    }
